.header {
  &--Arrow {
    position: relative;
  }

  &__arrow {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: black;
  }
}

.exploreImg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}
